<!DOCTYPE html>
<html ng-app="passwordValidation">
<head>
    <title>Avaliador de Segurança de Senha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css" />
</head>
  <body>
    {{{body}}}
  </body>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/javascripts/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
<script type="text/javascript" src="/javascripts/services/LoginService.js"></script>
<script type="text/javascript" src="/javascripts/value/configValue.js"></script>
<script type="text/javascript" src="/javascripts/controllers/LoginController.js"></script>
</html>
